{% extends "base.html" %}

{% block content %}

<h1>About</h1>

<p> Michele Timma is a nursing professional whose aspiration is to lead the delivery of health services.
    <br> Works in harmony with medical staff, administration, patients and their kin to ensure delivery of quality care.
    <br> Ensures the overall adherence to standards as well as procedures that produce quality care
</p>

<p> Four years in the health administration thus have gained expertise in facilitating medical functions to provide world class health services.
    <br> Experience in Insurance Utilization Management and Case Management.
    <br> Skilled Utilization Management Nurse offering talents in initial and ongoing clinical review assessments for an insurance company with demonstrated clinical expertise, leadership skills and technical knowledge.
</p>

<p> Experienced in CMS guidelines and wMedicare Advantage requirements.
    <br> Adaptable and driven with strong work ethic and ability to thrive in team-based or individually motivated settings.
    <br> Formulating both short- and long-term strategic plans to boost operations.
    <br> Promoting continuous on-job training to the staff members to improve operational efficiencies
</p>


{% endblock %}